/* selects the body element */
body {
    font-size: 24px;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    background: rgb(23, 161, 103);
    margin: 24px;
    padding: 24px;
    display: flex
}

.outer {
    margin: 24px;
}


.upper {
    background: rgb(23, 161, 159);
    display: flex
}

.lower {
    background: rgb(161, 23, 67);
    display: flex
}

.leftcol{
    background: rgb(23, 161, 48);
    margin: 24px;
    padding: 24px;
}

.rightcol{
    background: rgb(117, 161, 23);
    margin: 24px;
    padding: 24px;
}

#nameStyle {
    font-family: "Comic Sans MS";
}

a:hover {
    color: rgb(23, 161, 57);
}

